.elements {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(364px, 1fr));
    margin: auto;
    column-gap: 24px;
    row-gap: 30px;
    padding: 0;
    box-sizing: border-box;
    justify-items: center;
}

/* @media screen and (min-width: 880px) {
    .elements {
      padding: 40px 0 0;
      gap: 20px 17px;
    }
} */