.portfolio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1280px;
    min-height: 425px;
    background-color: #FFFFFF;
    padding: 0;
}

.portfolio__grid {
    display: grid;
    list-style: none;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: auto;
    margin: 0 70px 0px 70px;
    gap: 0;
    padding: 0;
    max-width: 1140px;
    width: calc(100% - 140px);
}

.portfolio__grid :nth-child(4) {
    border-bottom-style: none;
}

.portfolio__title {
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    margin: 0;
    height: 70px;
}

.portfolio__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-color: #E8E8E8;
    border-bottom-width: 1px;
    margin-bottom: 19px;
    width: 100%;
}

.portfolio__link {
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    color: #000000;
    margin: 0;
    text-decoration: none;
}

.portfolio__icon {
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    color: #000000;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .portfolio {
        max-width: 768px;
        min-height: 370px;
    }
    
    .portfolio__grid {
        margin: 0 50px 0px 50px;
        max-width: 668px;
        width: calc(100% - 100px);
    }

    .portfolio__link {
        font-size: 28px;
    }
    
    .portfolio__icon {
        font-size: 28px;
    }
}

@media screen and (max-width: 320px) {
    .portfolio {
        max-width: 320px;
        min-height: 294px;
    }
    
    .portfolio__grid {
        margin: 0 14px 0px 14px;
        max-width: 292px;
        width: calc(100% - 28px);
    }
    
    .portfolio__title {
        font-size: 14px;
        line-height: 20px;
        height: 60px;
    }
    
    .portfolio__link {
        font-size: 18px;
        line-height: 28px;
    }
    
    .portfolio__icon {
        font-size: 18px;
        line-height: 28px;
    }
}