.techs {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    min-height: 525px;
    background-color: #F5F5F5;
    padding-top: 100px;
}

.techs__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 26.63px;
    color: #000000;
    align-self: flex-start;
    margin: 0;
    margin-left: 70px;
}

.techs__line {
    max-width: 1140px;
    width: calc(100% - 140px);
    height: 1px;
    background: #000000;
    margin-top: 23px;
}

.techs__info-title {
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    color: #000000;
    text-align: center;
    margin: 0;
    margin-top: 90px;
}

.techs__info-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    align-self: center;
    text-align: center;
    margin: 0;
    margin-top: 26px;
    max-width: 460px;
    min-height: 40px;
}

.techs__cards {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(7, 1fr);
    margin: 100px 0 100px 0;
    gap: 10px;
    padding: 0;
    max-width: 690px;
    width: 100%;
}

.techs__card {
    width: 100%;
    height: 60px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 60px;
    color: #000000;
    background: #E8E8E8;
    border-radius: 10px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .techs {
        max-width: 768px;
        min-height: 477px;
        padding-top: 90px;
    }
    
    .techs__title {
        margin-left: 50px;
    }
    
    .techs__line {
        max-width: 668px;
        width: calc(100% - 100px);
    }
    
    .techs__info-title {
        margin-top: 80px;
    }
    
    .techs__info-text {
        font-size: 12px;
        line-height: 18px;
        margin-top: 22px;
        max-width: 460px;
        min-height: 36px;
    }
    
    .techs__cards {
        margin: 83px 0 90px 0;
        gap: 10px;
        padding: 0;
        max-width: 648px;
    }
    
    .techs__card {
        height: 57px;
        font-size: 12px;
        line-height: 57px;
    }
}

@media screen and (max-width: 320px) {
    .techs {
        max-width: 320px;
        min-height: 581px;
        padding-top: 70px;
        background-color: #FFFFFF;
    }
    
    .techs__title {
        
        font-size: 18px;
        line-height: 21.78px;
        margin-left: 18px;
    }
    
    .techs__line {
        max-width: 284px;
        width: calc(100% - 36px);
        margin-top: 28px;
    }
    
    .techs__info-title {
        
        font-size: 30px;
        line-height: 36.31px;
        margin-top: 60px;
    }
    
    .techs__info-text {
        
        font-size: 11px;
        line-height: 16px;
        margin-top: 24px;
        max-width: 292px;
        min-height: 32px;
    }
    
    .techs__cards {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        margin: 50px 0 70px 0;
        max-width: 178px;
    }
    
    .techs__card {
        height: 57px;
        font-size: 12px;
        line-height: 57px;
    }
}